body{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: blue;
}

h1{
    text-align:center;
    color:#fff;
}

canvas{
    border: 1px solid #000;
    height:80%;
    width:80%;
    background: whitesmoke;
}